/*
  Matt Cassara Stylesheet
  Author - Matt Cassara
  Site - http://www.mattcassara.com
*/


/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    GLOBALS     	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

@mixin background-size($cover){
  -webkit-background-size: $cover;
     -moz-background-size: $cover;
      -ms-background-size: $cover;
          background-size: $cover;
}

html, body {
  font-family: "Oxygen", sans-serif;
  font-weight: 100; 
}

*{
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #fff;
}

section {
	padding: 30px 0px 30px 0px;
}


.container {
  max-width: 1200px;
  margin: 0px auto;
  background-color: rgba(0,0,0, 0 );
}

/*.grid {
	background-color: rgba(50,50,100,0.2)
}

*/

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    COLORS     	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

$primary-color: #fff;
$second-color: #006bdb;
$third-color: #111;
$accent-color: #111;
$second-accent-color: #333;

$font-light: $accent-color;
$font-dark: $primary-color;

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    TEXT STYLES    //////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

h1 {
	font-size: 3.5em;
	margin: 40px 0px 40px 0px;
}

h2 {
	font-size: 3em;
	margin: 10px 0px 30px 0px;
}

h3 {
	font-size: 2.5em;
	margin: 10px 0px 10px 0px;
}

h4 {
	font-size: 2em;
	margin: 10px 0px 10px 0px;
}

h5 {
	font-size: 1.5em;
	margin: 10px 0px 10px 0px;
}

h6 {
	font-size: 1em;
	margin: 10px 0px 10px 0px;
	text-transform: uppercase;
}

p {
	font-size: 1em;
	margin: 10px 0px 10px 0px;
  color: $font-dark;
}

a {
	font-size: 1em;
  text-decoration: none;
  color: $second-color;
}

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    LINKS 	    	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

a:hover {
	color: red;
}

a:active {
	color: green;
}

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    BUTTONS     	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

.button{
	background: rgba(0,0,0,0);
	padding: 10px 25px;
	color: #000;
	font-weight: 800;
	transition: background 0.5s, border 0.5s, color 0.5s;
	border: 3px solid #000;
	display: block;
	max-width: 200px;
	text-align: center;
	margin: 10px auto;
}

.button:hover{
	color: #000;
	background: #ddd;
	border: 3px solid #333;
}


/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    HEADER & NAV   //////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

#nav-block {
	background: $primary-color;
	height: 60px;
	width: 100%;
	z-index: 5000;
	position: fixed;
}

#logo {
	position: absolute;
 	top: 15px;
  left: 10%;
 	height: 25px;
  width: 50px;
  cursor: pointer;
  z-index: 1010;
	background: $second-color;
}

.button_container {
  position: absolute;
  top: 17px;
  right: 10%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .8;

}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: $second-color;
}

.button_container.active .middle {
  opacity: 0;
  background: $second-color;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: $second-color;
}

.button_container span {
  background: $second-color;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: $second-color;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 0.95;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInTop .5s ease forwards;
          animation: fadeInTop .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Oxygen', serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInTop{
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}


/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    MAIN 	    	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

.main {
	background: url("../img/brooklyn-bridge.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 95vh;
}

.main-content {
	margin-top: 10%;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}


/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    INTRO      	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

.intro {
	background-color: $primary-color;
	text-align: center;
  color: $font-light;
  height: 90vh;
}

.intro .grid-pad {
	padding-bottom: 10px;
}

.intro .col-1-3{
	
	padding-bottom: 10px;
}
.intro .col-1-3 li {
	list-style: none;
}

.intro img {
	margin: 20px 0px 20px 0px;
	height: 150px;
	border-radius: 100%;
	border: 2px solid $second-accent-color;
	transition: border 0.4s;
}

.intro .col-2-12 .content {
	text-align: center;
}

.intro .content img:hover {
	border: 2px solid $accent-color;
}

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    ABOUT      	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

.about{
	text-align: justify;
	background: linear-gradient(to top, rgba(17,17,17,0), rgba(17,17,17,1)) ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  height: 90vh;
}

.about p {
	margin: 20px 0px 20px 0px;
}


/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    PROJECTS     	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

.projects{
	text-align: center;
	background-color: rgba(17,17,17,0);
  height: 90vh;

}

.projects img{
	width: 100%;
}
.projects .col-1-6 {
	padding: 20px 0px 10px 0px;
	transition: background 0.4s;
}

.projects .col-1-6:hover{
	background: red;
	
}

.projects p, .projects h2, .projects h3{
	color: #111;
}

/* //////////////////////////					          //////////////////////////////////////////////////////////////// */
/* //////////////////////////    EMPLOYMENT     //////////////////////////////////////////////////////////////// */
/* //////////////////////////					           //////////////////////////////////////////////////////////////// */

.employment{
	background-color: $second-color;
	text-align: left;
	
}

.employment img{
	margin: 20px 0px 20px 0px;
	height: 125px;
	border-radius: 100%;
	border: 2px solid $primary-color;
	transition: border 0.4s;
}

.employment img:hover{
	border: 2px solid $primary-color;
}

.employment ul li{
	list-style-type: none;
	padding: 0px 0px 20px 0px;
}



.employment ul, p, h2, h3, h4{
	color: #fff;
}

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    CONTACT    	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */


.contact{
	background-color: rgba(17,17,17,0);
  
}

.contact h2  {
  color: $primary-color;
}

/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    BLOG 	   	 	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */

.blog{
	background-color: $primary-color;
}

.blog h2, .blog h3, .blog p{
	color: #000;
}

.blog h2{
	margin: 0px 0px 20px 0px;
}


/* //////////////////////////					//////////////////////////////////////////////////////////////// */
/* //////////////////////////    FOOTER     	//////////////////////////////////////////////////////////////// */
/* //////////////////////////					//////////////////////////////////////////////////////////////// */


footer{
	background-color: $primary-color;
	padding:30px 0px 0px 0px;
}

footer h6 {
  color: $second-color;
}


/* //////////////////////////					 //////////////////////////////////////////////////////////////// */
/* //////////////////////////    MEDIA QUERIES   //////////////////////////////////////////////////////////////// */
/* //////////////////////////					 //////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 767px) {
	.main-content {
	margin-top: 25%;
	}
}